header{
    border-bottom: 1px solid black;
    height: 40px;
    width: 99%;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    background-color: white;
    z-index: 1;
  }
  
ul{
    float: left;
    height: inherit;
    list-style-type: none;
  }

div.Header{
  float: left;
}

li{
    display: inline;
    float: left;
    height: inherit;
    width: 120px;  
  }

.image{
    position: block;
    height: inherit;
    float: left;
    
  }
  
.logo{
    height: inherit; 
  }

  .cart{
    vertical-align: center;
    float: right;
    height: inherit;
  }

  .showCart{
    height: inherit;
    cursor: pointer;
  }